* {
    margin: 0;
    padding: 0;
}

h1 {
    border: 1px solid blanchedalmond;
    padding: 15px;
    color : red;
    font-size: px;
}

h2 {
    color: gray;
    margin: 20px;
}

p {
   color : gray;
   padding: 30px; 
}
