body {
    background-color: #0d1a66;
}

header {
    display: flex;
    justify-content: center;
    
    color: #f39c12;
    font-size: 2rem;
}

main {
    height: 50rem;
    width: 50 rem;

    display: flex;
    flex-direction: row;
}

.Esquerda, .Direita {
    border: 1px solid black;
    border-radius: 10px;
}


.Esquerda {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #3f51b5;
    width: 60rem;

}

.Direita {
    
    background-color: #0288d1;    
}

.foto {
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente*/

    margin-top: 1rem;
    height: 18rem;
    border-radius: 50%;
}

h2 {
    text-align: center;
    color:#f39c12;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

h3, h4, p {
    margin: 1rem;
    color: #ffeb3b;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

ul {
    color: #ffeb3b;
}